:root {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  --bg: #ffffff;
  --text: #111111;

  --sidebar-bg: #d6d6d6;
  --sidebar-text: #111111;

  --link: #111111;
  --link-hover: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #0f1115;
    --text: #e7e7e7;

    --sidebar-bg: #1a1f28;
    --sidebar-text: #e7e7e7;

    --link: #e7e7e7;
    --link-hover: #ffffff;
  }
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  display: block;
  min-width: 320px;
  min-height: 100vh;

  background: var(--bg);
  color: var(--text);
}


a {
  font-weight: 500;
  color: var(--link);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover);
  text-decoration: underline;
}

.app {
  height: 100%;
  display: flex;
  background: var(--bg);
}


.sidebar {
  width: 170px;
  background: var(--sidebar-bg);
  padding: 18px 14px;

  display: flex;
  flex-direction: column;
  gap: 26px;
}

.menu-block {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menu-title {
  font-size: 14px;
  font-weight: 400;
  color: var(--sidebar-text);
}

.menu-item {
  font-size: 14px;
  color: var(--sidebar-text);
  padding-left: 12px;
  line-height: 1.3;
}

.menu-footer {
  margin-top: auto;
}

.content {
  flex: 1;
  padding: 22px 26px;
}

.page-title {
  margin: 0;
  font-size: 28px;
  font-weight: 400;
  color: var(--text);
}